/* =Comments Section
----------------------------------------------- */

$comment-spacing: $alt-spacing/2;

.bypostauthor { /*! Not used. */ }

.comments-title {
	margin: $alt-spacing 0;
}

.replies-title {
	margin: $spacing 0;
}

/* =Comments
----------------------------------------------- */

.comment-list,
.comment-list .children {
	margin: 0;
	list-style: none;
}

.comment-body {
	position: relative;
}

.comment-meta {
	margin: $comment-spacing 0;
	padding: $comment-spacing $comment-spacing 0;
	min-height: 56px;
	background: $comment-header-bg;
	line-height: 1;

	.avatar {
		float: left;
		box-sizing: content-box;
		margin: (-$comment-spacing) ($comment-spacing) 0 (-$comment-spacing);
		border-right: $comment-spacing solid white;
	}

	.comment-author {
		font-family: $header-font;
		@include font-size( 16 );

		&, a, a:hover, a:active, a:focus {
			color: $header-color;
		}

		.says {
			display: none;
		}
	}

	.comment-metadata {
		margin-top: 5px;
		font-family: $alt-font;
		@include font-size( 10 );
		text-transform: uppercase;

		&, a, a:hover, a:active, a:focus {
			color: $description-color;
		}
	}
}

.comment-content {
	margin-left: 56 + $comment-spacing;

	p {
		margin-bottom: $comment-spacing;
	}
}

li.comment .comment-respond {
	margin-left: 56 + $comment-spacing;
}

.reply {
	position: absolute;
	top: $comment-spacing;
	right: $comment-spacing;
	font-family: $alt-font;
	@include font-size( 10 );
	text-transform: uppercase;
	line-height: 26px;
	font-weight: bold;

	a, a:hover, a:active, a:focus {
		color: $header-color;
	}
}

#cancel-comment-reply-link {
	float: right;
}

.children .avatar {
	border-left: $comment-spacing solid white;
}

.children {
	@for $i from 2 through 10 {
		.depth-#{$i} {
			.avatar {
				margin-left: $comment-spacing * ( $i - 2 );
			}
			.comment-content {
				margin-left: 56 + $comment-spacing * 2 + $comment-spacing * ( $i - 1);
			}
			.comment-respond {
				margin-left: 56 + $comment-spacing * 2 + $comment-spacing * ( $i - 1);
			}
		}
	}
}

/* =Pingbacks
----------------------------------------------- */
li.pingback {
	margin: $comment-spacing 0;
}

li.pingback + li.comment .comment-meta {
	margin-top: $comment-spacing + 5;
}

/* =Reply Form
----------------------------------------------- */

.comment-respond {
	margin-top: $comment-spacing;
}

.comment-form {
	.comment-form-author,
	.comment-form-email {
		label {
			@include hide-text;
		}
	}

	input, textarea {
		font-family: $alt-font;
		color: darken( $alt-color, 10% );
		@include font-size( $alt-size );
		box-sizing: border-box;
		border: 1px solid $comment-box-border;
	}

	input[type="text"],
	input[type="email"] {
		padding: 3px $alt-spacing/2;
		text-transform: uppercase;
		line-height: 40px;
		width: 100%;
	}

	textarea {
		width: 100%;
		padding: $alt-spacing/2;
		resize: vertical;
		@include font-size( 16 );

		&:focus {
			color: $text-color;
		}
	}

	.logged-in-as,
	.comment-notes {
		font-family: $alt-font;
		text-transform: uppercase;
		@include font-size( $alt-size );
	}

	.form-submit {
		@extend %clearfix;

		input[type="submit"] {
			float: right;
			padding: $alt-spacing/2 $alt-spacing;
			border: none;
			font-family: $alt-font;
			@include font-size( 14 );
			text-transform: uppercase;
			color: white;
			background-color: $header-color;
		}
	}
}

.comment-form-author,
.comment-form-email {
	float: left;
	width: 50%;
}

.comment-form-author {
	padding-right: 15px;
}

.comment-form-email {
	padding-left: 15px;
}

.comment-awaiting-moderation {
	font-style: italic;
}

.comment-subscription-form {
	font-family: $alt-font;
	text-transform: uppercase;

	input {
		font-size: 1em;
	}

	label {
		@include font-size( 13 );
	}
}

/* ="Comments Closed" text
----------------------------------------------- */

.no-comments {
	margin: $spacing 0;
	text-align: center;
	font-style: italic;
}