/* =Global
----------------------------------------------- */

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: $spacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $spacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	@include screen-reader-text;
}

/* Clearing */
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %clearfix;
}
