#page {
	max-width: $site-width;
}

.content-area {
	float: right;
	margin: 0 0 0 ( $sidebar-width * -1 );
	width: 100%;
}

.site-main {
	margin: 0 0 0 $sidebar-width;
	padding: ( $alt-spacing * 2 ) ( $alt-spacing * 1.5 );
}

/* Sidebar & Header */
.site-content {
	position: relative;

	.widget-area,
	.site-header {
		position: relative;
		z-index: 10;
		float: left;
		overflow: hidden;
		width: $sidebar-width;
		padding: ( $alt-spacing * 2 ) ( $alt-spacing * 1.5 );
		box-sizing: border-box;
	}

	.site-header-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: $sidebar-width;
	}
}
