/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $alt-font;
	font-weight: $bold;
	@include font-size($alt-size);
	text-transform: uppercase;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			margin-bottom: 5px;

			a {
				display: block;
				padding: $alt-spacing/2;
				text-decoration: none;
				color: $nav-text-color;
				background-color: $nav-bg-color;

				@include hoverActiveFocus {
					color: $nav-text-color;
					background-color: $nav-current-bg-color;
				}
			}
		}

		.current_page_item > a,
		.current-menu-item > a {
			background-color: $nav-current-bg-color;
		}

		// second level
		ul {
			li {
				margin-bottom: 0;
			}

			a {
				background-color: lighten( $nav-bg-color, 4% );
			}
		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}