/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: $alt-font;
	font-weight: $bold;
	@include font-size($alt-size);
	text-transform: uppercase;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			margin-bottom: 5px;

			a {
				display: block;
				padding: $alt-spacing/2;
				text-decoration: none;
				color: $nav-text-color;
				background-color: $nav-bg-color;

				@include hoverActiveFocus {
					color: $nav-text-color;
					background-color: $nav-current-bg-color;
				}
			}
		}

		.current_page_item > a,
		.current-menu-item > a {
			background-color: $nav-current-bg-color;
		}

		// second level
		ul {
			li {
				margin-bottom: 0;
			}

			a {
				background-color: lighten( $nav-bg-color, 4% );
			}
		}
	}
}

.menu-toggle {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	padding: $alt-spacing/2;
	color: white;
	background: $sidebar-bg-color; // @color
	font-family: $alt-font;
	@include font-size(14);
	text-transform: uppercase;

	.admin-bar & {
		top: 46px;
	}

	@include hoverActiveFocus {
		color: white;
		text-decoration: none;
	}
}
