%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin hoverActiveFocus() {
	&:hover, &:active, &:focus {
		@content;
	}
}

@mixin font-size( $size-value ) {
	$rem-value: ( $size-value / 16 );
	$px-value: $size-value;
	font-size: $px-value * 1px;
	font-size: $rem-value * 1rem;
}

@mixin hide-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Text meant only for screen readers */
@mixin screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;

	&:hover,
	&:active,
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}

// Returns the `$light` color when the `$color` is dark
// and the `$dark` color when the `$color` is light.
// The `$threshold` is a percent between `0%` and `100%` and it determines
// when the lightness of `$color` changes from "dark" to "light".
@function contrast-color(
	$color,
	$dark: black,
	$light: white,
	$threshold: 75%
) {
	@if ( lightness( $color ) < $threshold ) {
		@return $light
	} @else {
		@return $dark;
	}
}
