@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}

	.no-image .site-main {
		padding-top: $alt-spacing * 2 + 20;
	}

	#masthead,
	.site-content .site-header-bg {
		z-index: 10; /* Make sure the z-index is lower than the #page */
	}

	#content {
		position: relative;
		left: -240px;
		width: calc(100% + 240px);

		#primary {
			margin: 0 0 0 -260px;
		}

		.site-main {
			margin: 0 0 0 260px;
		}
	}

	#content,
	.menu-toggle {
		/***
		 * If the animating class is present then apply
		 * the CSS transition to #page over 250ms.
		 */
		.animating & {
			transition: transform .25s ease-in-out;
			-webkit-transition: -webkit-transform .25s ease-in-out;
		}

		/***
		 * If the left class is present then transform
		 * the #page element 240px to the left.
		 */
		.animating.left & {
			transform: translate3d( 240px, 0, 0 );
			-webkit-transform: translate3d( 240px, 0, 0 );
		}

		/***
		 * If the right class is present then transform
		 * the #page element 240px to the right.
		 */
		.animating.right & {
			transform: translate3d( -240px, 0, 0 );
			-webkit-transform: translate3d( -240px, 0, 0 );
		}
	}

	/***
	 * If the menu-visible class is present then
	 * shift the #page 240px from the right edge
	 * via position: absolute to keep it in the
	 * open position. When .animating, .left and
	 * .right classes are not present the CSS
	 * transform does not apply to #page.
	 */
	.menu-visible {
		#content {
			left: 0;
		}
		.menu-toggle {
			left: 240px;
		}
	}
}

@media (max-width: 600px) {
	#secondary .widget {
		float: none;
		width: 100%;
	}
}

@media (max-width: 500px) {
	.comment-form-author,
	.comment-form-email {
		width: 100%;
		padding: 0 !important;
	}
}

@media (max-width: 400px) {
	body,
	button,
	input,
	select,
	textarea {
		@include font-size(17);
		line-height: 1.4;
	}
	#page {
		padding-right: 0;
	}
	.site-main {
		padding-right: $spacing;
		padding-left: $spacing;
	}
	.entry-image {
		margin-right: -$spacing;
		margin-left: -$spacing;
	}
	.entry-header {
		margin-right: 30px;
	}
	.entry-meta .genericon {
		right: -45px;
	}
	.entry-summary .mobile-space {
		float: right;
		display: inline;
		padding: 10px;
	}

	.comment-content,
	.comment-respond {
		margin-left: 0 !important;
	}

	.depth-2 {
		margin-left: $spacing;
	}

	.reply {
		position: relative;
		top: auto;
		right: auto;
	}

	.comment-form .form-submit input[type="submit"] {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}

	.site-main [class*="navigation"] {
		.nav-next,
		.nav-previous {
			margin-bottom: $spacing;
			padding-left: 0;
			padding-right: 0;
			width: 100%;

			a { width: 100%; }
		}
	}

	.search-form {
		.search-field {
			width: 58% !important;
		}
		.search-submit {
			width: 40% !important;
		}
	}

}
