
// Base typography
$base-font: 'Neuton';
$header-font: 'Vollkorn';
$alt-font: 'Montserrat';
$monospace-font: "Courier 10 Pitch", Courier, monospace;

$base-size: 19;
$alt-size: 10;

$header1-size: 28;
$header2-size: 24;
$header3-size: 18;
$header4-size: 16;

$monospace-size: 15;

$normal: 400;
$bold: 700;


// Base color scheme
$body-background: #f9f9f9;
$text-color: #424046;
$action-color: #6b6479; // saturate(lighten(#6b6479, 50), 50)
$header-color: darken( $action-color, 10% );


$description-color: #8f8a99;
$highlight-color: #e0bc64;
$alt-color: #b5b1bd;

$sidebar-bg-color: #424046;
$main-bg-color: white;

// Main menu colors
$nav-text-color: #e9e3f4;
$nav-bg-color: #333038;
$nav-current-bg-color: #221f26;

// Comment colors
$comment-header-bg: #e9e3f4;
$comment-box-border: #eae6f2;

// Use the color scheme colors to create element-specific styles
$link-color: $alt-color;

// Layout values
$site-width: 860px;
$sidebar-width: 260px; //30.23256%; // 260 ÷ 860
$spacing: 25px;
$alt-spacing: 30px;
