body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $base-font;
	@include font-size($base-size);
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}
h1,
.entry-title {
	@include font-size($header1-size);
}
h2 {
	@include font-size($header2-size);
}
h3 {
	@include font-size($header3-size);
}
h4 {
	@include font-size($header4-size);
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $spacing;
}

/* Text elements */
* {
	word-wrap: break-word;
}
p {
	margin-bottom: $spacing;
}
ul, ol {
	margin: 0 0 $spacing 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $spacing;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $spacing $spacing;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 $spacing;
	quotes: '\201c' "'";
	p:first-of-type:before { content: open-quote; }
}
q {
	quotes: '\201c' '\201d';
	&:before { content: open-quote }
	&:after { content: close-quote }
}
address {
	margin: 0 0 $spacing;
}
pre {
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	background: $body-background;
	font-family: $monospace-font;
	@include font-size( $monospace-size );
	line-height: 1.6;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
th {
	font-weight: bold;
}
// @color
.site-content {
	$table-color: $sidebar-bg-color;

	th, td {
		padding: 5px 10px;
	}

	th {
		font-weight: normal;
		color: lighten( $description-color, 15% );
		background: $table-color;
	}

	td {
		background: mix( white, $table-color, 95% );
	}

	tr:nth-of-type(odd) td {
		background: mix( white, $table-color, 90% );
	}
}

/* Links */
a {
	color: $link-color;
	text-decoration: none;
	@include hoverActiveFocus {
		color: darken($link-color, 30%);
		text-decoration: underline;
	}
}
