/* =Widgets
----------------------------------------------- */
.widget-area {
	margin-top: $spacing * 2;
	margin-left: -$alt-spacing/2;
	margin-right: -$alt-spacing/2;

	.widget {
		float: left;
		padding: 0 $alt-spacing/2;
		width: 50%;

		.search-form {
			.search-field {
				width: 58%;
			}
			.search-submit {
				width: 40%;
			}
		}
	}

	.widget:first-child:last-child {
		float: none;
		width: 100%;

		.search-form {
			.search-field {
				width: 73%;
			}
			.search-submit {
				width: 25%;
			}
		}
	}
}

.widget {
	margin: 0 0 $spacing * 2;
	@include font-size( 18 );
	line-height: 1.4;

	h1 {
		@include font-size( 20 );
		line-height: 1.3;
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: $spacing;
		}
	}

	.widget-title a {
		color: $text-color;
	}
}

.widget_calendar {
	table {
		max-width: 300px;
	}

	caption, th, td {
		padding: 5px;
		text-align: center;
	}

	caption {
		font-family: $header-font;
		font-weight: bold;
		@include font-size( 20 );
		margin-bottom: 10px;
	}

	th {
		font-family: $alt-font;
		background: $body-background;
	}

	td {
		@include font-size( 16 );
	}

	tfoot td {
		font-family: $alt-font;
		text-transform: uppercase;
		@include font-size( 14 );
		background: $highlight-color;

		a {
			color: contrast-color( $highlight-color );
		}
	}
}

.widget_rss {
	li {
		margin-bottom: 10px;

		.rsswidget {
			float: left;
		}

		.rss-date {
			float: right;
		}

		.rssSummary {
			clear: both;
		}
	}
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts {
	h4 {
		margin-top: $alt-spacing;

		&:first-child {
			margin-top: 0;
		}
	}
}
